<% if flash[:notice] %>
  <%= flash[:notice] %>
<% end %>

<% @tweets.each do |book| %>
  <p>
    <%= book.message %>
    <%= link_to '削除', "/tweets/#{book.id}", method: :delete %>
    <%= link_to '表示', "/tweets/#{book.id}" %>
    <%= link_to '編集', "/tweets/#{book.id}/edit" %>
  </p>
<% end %>



<%= image_tag "a.png" %>